<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script> <!-- added htmx js -->
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Appointments</h1>
        <a href="/appointments/new" class="btn btn-primary mt-3">Create New Appointment</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Service</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    {% include "appointment_row.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
