<tr>
    <td>{{ appointment.id }}</td>
    <td>{{ appointment.name }}</td>
    <td>{{ appointment.number }}</td>
    <td>{{ appointment.date }}</td>
    <td>{{ appointment.time }}</td>
    <td>{{ appointment.service }}</td>
    <td>
        <button class="btn btn-secondary btn-sm"
            hx-get="/appointments/{{ appointment.id }}/edit"
            hx-target="closest tr"
            hx-swap="outerHTML">
            Edit
        </button>
        <button class="btn btn-danger btn-sm"
            hx-delete="/appointments/{{ appointment.id }}"
            hx-target="closest tr"
            hx-swap="delete">
            Delete
        </button>
    </td>
</tr>